/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Luckiest+Guy&display=swap');

body {
  background: #2d2a3d;
  color: #fff;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.4rem;
}
.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
}
.computer img,
.player img {
  width: 75%;
}
.shakeComputer {
  animation: shakeComputer 0.8s linear;
}
.shakePlayer {
  animation: shakePlayer 0.8s linear;
}
.points {
  margin: 2em 0;
  text-align: center;
}
.computerPoints {
  margin-left: 3em;
}
.playerPoints {
  margin-right: 3em;
}
.options {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}
.options button {
  background: none;
  color: #fff;
  font-family: "Poppins";
  border: 1px solid #fff;
  padding: 1em 2em;
  border-radius: 7px;
  width: 150px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition: 0.2s all linear;
  font-weight: 900;
}
.reset {
  background: none;
  color: #fff;
  font-family: "Poppins";
  border: 1px solid #fff;
  padding: 1em 2em;
  border-radius: 7px;
  width: 150px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition: 0.2s all linear;
  font-weight: 900;
}
.reset:hover {
  background-color: darkcyan;
  border: 1px solid darkcyan; 
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

